.landing{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero-slider{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.mySwiper{
     height: 100%;
}
.hero-slide-moja{
       height: inherit;
       position: relative;
}
.hero-slide-moja.one .image-plus-overlay{
     width: 100%;
     height: 100%;
     background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/hero4.webp") no-repeat;
     background-position: center;
     background-size: cover;
     animation: expand 12s forwards;
     -webkit-animation: expand 12s forwards;
     position: absolute;
     z-index: 5;
}
.hero-slide-moja.two .image-plus-overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/hero2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    animation: expand 12s forwards;
    -webkit-animation: expand 12s forwards;
    position: absolute;
    z-index: 5;
}
.hero-slide-moja.three .image-plus-overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../assets/hero1.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    animation: expand 12s forwards;
    -webkit-animation: expand 12s forwards;
    position: absolute;
    z-index: 5;
}


@keyframes expand {
      0%{
             transform: scale(1.3);
             -webkit-transform: scale(1.3);
             -moz-transform: scale(1.3);
             -ms-transform: scale(1.3);
             -o-transform: scale(1.3);
}
     100%{
           transform: scale(1);
           -webkit-transform: scale(1);
           -moz-transform: scale(1);
           -ms-transform: scale(1);
           -o-transform: scale(1);
}
}


.hero-slide-texts{
     position: relative;
     z-index: 10;
     height: inherit;
     display: flex;
     align-items: center;
}
.hero-social-links{
     position: absolute;
     left: 8%;
     top: 50%;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
}
.hero-social-links ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.hero-social-links ul li a{
    color: gainsboro;
    font-size: 20px;
    display: flex;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.hero-social-links ul li a:hover{
     color: var(--main-color);
     transform: scale(0.85);
     -webkit-transform: scale(0.85);
     -moz-transform: scale(0.85);
     -ms-transform: scale(0.85);
     -o-transform: scale(0.85);
}
.hero-slide-inner-wrap{
    width: 950px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 80px;;
}

.hero-slide-texts h1{
      font-size: 65px;
      font-family: var(--bold-font);
      color: whitesmoke;
      line-height: 1.2;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      opacity: 0;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
      font-weight: 600;
}
.hero-slide-texts.active h1{
      animation: slideUp 1.5s forwards;
      -webkit-animation: slideUp 1.5s forwards;
      animation-delay: 0.5s;
}
.hero-slide-texts p{
      color: whitesmoke;
      font-weight: 300;
      font-size: 22px;
      line-height: 1.75;
      width: 80%;
      transition: all 0.8s ease;
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -ms-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      opacity: 0;
      transform: translateY(20px);
      -webkit-transform: translateY(20px);
      -moz-transform: translateY(20px);
      -ms-transform: translateY(20px);
      -o-transform: translateY(20px);
}
.hero-slide-texts.active p{
    animation: slideUp 1.5s forwards;
    -webkit-animation: slideUp 1.5s forwards;
    animation-delay: 0.5s;
}

@keyframes slideUp {
    100%{
          opacity: 1;
          transform: translateY(0);
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
}
}

.hero-activity-wrap{
       position: absolute;
       z-index: 10;
       bottom: 50px;
       width: 100%;
       height:auto;
       left: 0;
       color: white
}
.hero-activity-status{
     display: flex;
     gap: 30px;
}
.hero-activity-status span{
    width: 8px;
    height: 2px;
    background-color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.hero-activity-status span::after{
     width: 25px;
     height: 10px;
     content: "";
     background: rgba(255, 255, 255, 0.15);
     position: absolute;
     border-radius: 5px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
     -ms-border-radius: 5px;
     -o-border-radius: 5px;
     z-index: -1;
}

.hero-activity-status span.active::after{
     background: rgba(23, 149, 251, 0.627);
}

.hero-activity-wrap-inner{
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: space-between;
     gap: 10px;
     align-items: center;
}

.hero-switches{
    display: flex;
    gap: 30px;
}
.hero-switches span{
    display: inline-flex;
    font-size: 28px;
    height: 28px;
    width: 50px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: rgba(243, 241, 241, 0.149);
}
.hero-switches span:hover{
     color: var(--secondary-color)
}

.about-section{
     height: 200vh;
     background: url("../assets/aboutBg.png") no-repeat;
     background-size: contain;
}

.about-section-content{
      text-align: center;
      padding: 200px 0;
      position: sticky;
      top: 0;
      overflow: hidden;
}
.about-section-content h2{
    font-size: 90px;
    font-weight: 600;
    line-height: 1.2;
}

.about-section-content .middle-part{
     display: flex;
     gap: 350px;
     justify-content: center;
     margin: 40px 0;
     align-items: center;
     position: relative;
}
.middle-part .middle-media{
       width: 16%;
       flex-shrink: 0;
       position: absolute;
}
.middle-media video{
     width: 100%;
}

.middle-part h2{
       font-family: var(--regular-font);
       font-size: 75px;
       font-weight: 500;
       flex-shrink: 0;
       width: 500px;
}


.about-extra-section{
     padding:100px 0;
}

.about-extra-section-content{
     display: grid;
     grid-template-columns: 3fr 1fr;
     gap: 50px;
}
.about-extra-section-content p{
     font-size: 25px;
     font-weight: 400;
     line-height: 1.5;
     color: rgb(36, 36, 36);
}

.about-extra-section-content p span{
      font-weight: 600;
      font-size: 28px;
}

.about-extra-section-content .link-wrap{
       display: flex;
       align-items: center;
       justify-content: center;
}

.about-extra-section .numbers-row{
      margin-top: 60px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 30px;
}
.number-moja{
      text-align: center;
}
.number-moja h2{
      font-size: 70px;
      margin-bottom: 10px;
      font-weight: 500;
}
.number-moja h4{
     font-size: 20px;
     font-weight: 450;
     color: rgb(50, 50, 50);
}

.services-section{
      padding: 60px 0px  100px 0;
}

.services-intro{
       width: 900px;
       margin: auto;
}
.services-intro h2{
     width: 80%;
      font-size: 80px;
      line-height: 1.3;
}
.services-intro-texts{
     display: flex;
     align-items: center;
     gap: 80px;
}

.services-intro-texts p{
      font-size: 18px;
      line-height: 1.75;
      color: rgb(50, 50, 50);
}

.services-body-row{
       margin-top: 50px;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       gap: 30px;
       row-gap: 50px;
}

.service-moja img{
      width: 50px;
      height: 50px;
}
.service-moja h3{
     font-size: 25px;
     margin: 10px 0;
     font-weight: 500;
     line-height: 1.34;
}
.service-moja p{
      font-size: 16px;
      line-height: 1.5;
      color: rgb(50, 50, 50);
      margin-bottom: 20px;
}

.service-moja .link-wrap a{
      width: 170px;
      height: 45px;
}

.portfolio-section{
       background: #111;
       padding: 100px 0;
}

.portfolio-section-content{
     display: grid;
     grid-template-columns: 1.25fr 2fr;
     gap: 80px;
}
.portfolio-intro-content{
     color: whitesmoke;
     position: sticky;
     top: 100px;
}

.portfolio-intro-content h4{
     font-size: 16px;
     font-weight: 300;
     border: 2px solid whitesmoke;
     display: inline-flex;
     width: 180px;
     height: 45px;
     justify-content: center;
     align-items: center;
}
.portfolio-intro-content h2{
     font-size: 30px;
     line-height: 1.5;
     margin: 10px 0;
     font-weight: 500;
}

.portfolio-intro-content .link-wrap{
     margin-top: 30px;
}
.portfolio-intro-content .link-wrap a,
.footer-call-to-action .link-wrap a{
     color: gainsboro;
}
.footer-call-to-action .link-wrap a:hover,
.portfolio-intro-content .link-wrap a:hover{
      color: var(--main-color);
}
.portfolio-intro-content .link-wrap a span.top-border,
.portfolio-intro-content .link-wrap a span.right-border,
.portfolio-intro-content .link-wrap a span.bottom-border,
.portfolio-intro-content .link-wrap a span.left-border,
.footer-call-to-action .link-wrap a span.top-border,
.footer-call-to-action .link-wrap a span.right-border,
.footer-call-to-action .link-wrap a span.bottom-border,
.footer-call-to-action .link-wrap a span.left-border{
      background-color: gainsboro;
}

.portfolio-project-moja{
      position: relative;
      overflow: hidden;
      cursor: pointer;
      margin-bottom: 30px;
}
.portfolio-project-moja img{
      display: block;
}
.portfolio-project-moja .pt-texts{
     position: absolute;
     left: 5%;
     bottom: 5%;
     width: 100%;
}
.pt-texts h3{
     background: white;
     width: 50%;
     padding: 10px 20px;
     font-weight: 500;
     font-size: 30px;
     display: flex;
     justify-content: space-between;
     transform: translateY(40px);
     -webkit-transform: translateY(40px);
     -moz-transform: translateY(40px);
     -ms-transform: translateY(40px);
     -o-transform: translateY(40px);
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.pt-texts h3 span{
     display: flex;
}

.pt-texts a{
     display: flex;
     padding: 10px;
     color: black;
     align-items: center;
     gap: 5px;
     width: 240px;
     background-color: white;
     margin: 10px 0;
     font-weight: 500;
     transform: translateY(40px);
     -webkit-transform: translateY(40px);
     -moz-transform: translateY(40px);
     -ms-transform: translateY(40px);
     -o-transform: translateY(40px);
     transition: all 0.75s ease;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
     opacity: 0;
}
.pt-texts a:hover{
     gap: 10px;
}
.pt-texts a span{
     display: flex;
     margin-top: 3px;
}
.portfolio-project-moja:hover .pt-texts h3{
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      color: var(--main-color);
}
.portfolio-project-moja:hover .pt-texts a{
       transform: translateY(0);
       -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
       -ms-transform: translateY(0);
       -o-transform: translateY(0);
       opacity: 1;
}

.testimonials-section{
       padding: 100px 0;
}
.testimonial-upper-strip{
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
}
.testimonial-upper-strip h3{
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700;
      color: rgb(50, 50, 50);
      margin-bottom: 10px;
}
.testimonial-upper-strip h2{
     font-size: 45px;
     line-height: 1.4;
}

.testimonial-upper-strip .right-column{
     padding: 30px;
}
.testimonial-upper-strip .link-wrap a{
      width: 180px;
      height: 45px;
}


.testimonials-body{
     margin-top: 40px;
}
.testimonial-moja p{
     font-size: 20px;
     font-weight: 350;
     line-height: 1.5;
     margin-bottom: 20px;
     color: rgb(50, 50, 50);
}

.testimonial-moja p span{
      color: var(--secondary-color);
      font-size: 22px;
      margin: 0px 5px;
}

.testimonial-moja h4{
     font-size: 20px;
     font-weight: 500;
     margin-bottom: 10px;
}
.testimonial-moja h5{
      font-weight: 400;
      color: rgb(117, 117, 117);;
}

.partners-strip{
       margin-top: 90px;
}
.partners-strip .header-strip{
       display: flex;
       gap: 30px;
       align-items: center;
}
.header-strip span:nth-child(1){
       width: 250px;
       height: 45px;
       display: flex;
       align-items: center;
       justify-content: center;
       border: 2px solid;
       font-size: 15px;
}
.header-strip span:nth-child(2){
       width: 100%;
       height: 0.5px;
       background: rgba(228, 228, 228, 0.866);
}


.partner-logos{
     display: flex;
     gap: 30px;
     margin-top: 40px;
     align-items: center;
     flex-wrap: wrap;
     justify-content: center;
}
.partner-logos img{
     width: 180px;
     object-fit: contain;
}


.blog-section{
      padding: 100px 0;
      background: white;
}
.blog-intro{
     display: flex; 
     justify-content: space-between;
     gap: 20px;
     align-items: center;
}


.blog-intro h4{
      font-size: 18px;
      font-family: var(--regular-font);
      font-weight: 400;
      border: 2px solid;
      width: 150px;
      height: 40px;
      justify-content: center;
      align-items: center;
      display: flex;
      margin-bottom: 20px;
}
.blog-intro h2{
     font-size: 45px;
     font-weight: 600;
}


.blog-section-row{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 40px;
     margin-top: 50px;
}
.blog-article-moja{
      cursor: pointer;
}
.blog-article-moja .blog-image{
     height: 320px;
     overflow: hidden;
}
.blog-article-moja img{
      max-height: 320px;
      display: block;
      transition: all 0.75s ease;
      -webkit-transition: all 0.75s ease;
      -moz-transition: all 0.75s ease;
      -ms-transition: all 0.75s ease;
      -o-transition: all 0.75s ease;
}
.blog-article-moja:hover img{
     transform: scale(1.08);
     -webkit-transform: scale(1.08);
     -moz-transform: scale(1.08);
     -ms-transform: scale(1.08);
     -o-transform: scale(1.08);
}

.blog-article-moja h4{
     margin: 20px 0 5px 0px;
     text-transform: uppercase;
     font-weight: 600;
     color: rgb(78, 78, 78);
     font-size: 16px;
}
.blog-article-moja h3{
     font-size: 25px;
     transition: all 0.75s ease;
     line-height: 1.35;
     -webkit-transition: all 0.75s ease;
     -moz-transition: all 0.75s ease;
     -ms-transition: all 0.75s ease;
     -o-transition: all 0.75s ease;
}
.blog-article-moja:hover h3{
     color: var(--main-color);
}











@media(max-width: 1300px){
      .about-section-content .middle-part{
              gap: 200px;
      }
}

@media(max-width: 1200px){
      .hero-social-links{
           left: 4%;
      }
      .middle-part h2{
           width: 100%;
           flex-shrink: 1;
      }
}

@media(max-width: 1090px){
     .hero-social-links{
           display: none;
     }
     .hero-slide-inner-wrap{
           width: 100%;
     }
     .about-section{
          height: auto;
     }
     .about-section-content{
            position: relative;
     }
     .about-section-content h2{
            font-size: 75px;
     }
     .about-section-content .middle-part{
            flex-direction: column;
            gap: 30px;
     }
     .middle-part h2{
            font-size: 55px;
     }
     .middle-part .middle-media{
           width: 75%;
           position: relative;
     }
     .about-extra-section{
           padding: 0px 0px 100px 0px;
     }
     .about-extra-section-content{
            grid-template-columns: 1fr;
            gap: 30px;;
     }
     .about-extra-section-content h3{
           text-align: center;
     }
     .about-extra-section .numbers-row,
     .services-body-row{
           grid-template-columns: 1fr 1fr;
     }
     .services-intro{
            width: 100%;
     }
     .services-intro h2{
          width: 100%;
     }
     .portfolio-section-content{
             gap: 40px;
     }
     .portfolio-intro-content h2{
          font-size: 26px;
     }

}

@media(max-width: 768px){
      .hero-slide-texts h1,
      .about-section-content h2{
           font-size: 60px;
      }
      .middle-part h2{
           font-size: 35px;
      }
      .about-section-content{
           padding: 150px 0;
      }
      .services-intro h2{
          font-size: 65px;
      }
      .services-intro-texts,
      .testimonial-upper-strip,
      .blog-intro{
          flex-direction: column;
          gap: 20px;
          align-items: flex-start;
      }
      .services-body-row,
      .portfolio-section-content,
      .blog-section-row{
            grid-template-columns: 1fr;
      }
      .portfolio-intro-content{
            position: relative;
            top: auto;
      }
      .portfolio-intro-content h2{
             font-size: 25px;
      }
      .testimonial-upper-strip .right-column{
          padding: 0px;
     }
     .copyright{
             gap: 10px;
             flex-wrap: wrap;;
     }
}

@media(max-width: 530px){
    .hero-slide-texts{
           text-align: center;
    }
    .hero-slide-inner-wrap{
          gap: 50px;
    }
      .hero-slide-texts h1,
      .about-section-content h2,
      .services-intro h2,
      .testimonial-upper-strip h2,.blog-intro h2{
            font-size: 40px;
      }
      .about-section-content{
            padding: 100px 0;
      }
      .about-section-content .middle-part{
             margin: 10px;
             gap: 10px;
      }
      .middle-part h2{
           font-size: 25px;
      }
      .hero-slide-texts p,
      .testimonial-moja p{
           font-size: 18px;
           width: 100%;
      }
      .about-extra-section .numbers-row{
              grid-template-columns: 1fr;
      }
      .about-extra-section-content h3,
      .pt-texts h3{
             font-size: 22px;
      }
      .number-moja h2{
             font-size: 50px;
      }
      .number-moja h4,
      .blog-intro h4{
             font-size: 16px;
      }
      .blog-article-moja h4{
          font-size: 15px;
      }
      .header-strip span:nth-child(1){
             width: 80%;
             margin: auto;
      }
     
      .header-strip span:nth-child(2){
             display: none;
      }
      .blog-intro,
      .testimonial-upper-strip{
              align-items: center;
              text-align: center;
      }
      .blog-intro h4{
             margin: 0px auto 10px auto;
      }
      .blog-intro .link-wrap a{
             width: 160px;
             height: 45px;
      }
      .services-intro h2{
             width: 100%;
             text-align: center;
      }
      .services-section{
              padding: 0px 0px 100px 0px;
      }
      .about-extra-section-content p{
             text-align: center;
             font-size: 18px;
      }
}

@media(max-width: 380px){
        .blog-article-moja h3{
               font-size: 20px;
        }
        .about-extra-section-content p span{
               font-size: 20px;
        }
        .pt-texts h3{
              font-size: 17px;
        }
}