@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
   --main-color: #097ef3;
   --secondar-color: #ffc400;
   --regular-font: "Onest", sans-serif;
   --bold-font: "Urbanist", sans-serif;
}

body{
     font-family: var(--regular-font);
     background: #f5faff;
}

ul{
     list-style: none;
}

a{
     text-decoration: none;
}

input,
textarea,
select,
button{
     font-family: var(--regular-font);
}

h1, h2, h3, h4, h5, h6{
     line-height: 1;
     font-family: var(--bold-font);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Utils */
.inner-row{
     width: 1250px;
     margin: auto;
}

.logo{
     width: 180px;
     display: flex;
}